.task {
  width: 50%;
  gap: 20px;
  text-align: center;
}

.task svg {
  fill: var(--secondary-alt);
}

.description {
  padding: 10px 24px;
}

@media screen and (max-width: 800px) {
  .task {
    width: 100%;
  }
}
