:root {
  --main: #F1FAEE;
  --main-alt: #0f9bb7;
  --secondary:  #1c73a2;
  --secondary-alt: #FFFFFF;
  --low-priority: #2A9D8F;
  --medium-priority: #F4A261;
  --high-priority: #E63946;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main);
}

body > * {
  color: var(--secondary);
}
